---
layout: layout
title: "Peter Raum"
---

<!-- You can edit this whole page, remove it, or use it as basis for any non-post pages you have. -->
<section class="content">
  <h1>{{ site.name }}</h1>

  {% include head.html %}
  
  <p>Hello and welcome to my website. My name is Peter Raum and I recently graduated with a PhD in physics from Virginia Tech. I am interested in theoretical and computational quantum many-body physics for strongly correlated systems. </p>

  <h2>Recent Posts:</h2>

  <ul class="entries">
    {% for post in site.posts limit:3%}
      {% unless post.draft %}
      <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      <p class="blogdate">{{ post.date | date: "%B %d, %Y" }}</p>
      <div>{{ post.description |truncatehtml }}</div>
      <!--<div>{{ post.content |truncatehtml | truncatewords: 2000 }}</div>-->
      <a href="{{ post.url }}">[read more]</a>
      {% endunless %}
    {% endfor %}
  </ul>

</section>
