---
layout: layout
title: "Peter Raum"
---

<!-- You can edit this whole page, remove it, or use it as basis for any non-post pages you have. -->
<section class="content">
  <h1>{{ site.name }}</h1>

  {% include head.html %}
  
  <p>Hello and welcome to my website. My name is Peter Raum and I'm a PhD student at Virginia Tech studying theoretical and computational quantum many-body physics for strongly correlated systems. </p>

  <h2>What I am doing right now:</h2>
  
  <ul>
    <li>Finishing up my PhD and applying for postdocs.</li>
    <li>Editing upcoming paper on applying cluster perturbation theory to calculate spin susceptibilities.</li>
    <li>Preparing version 1 of my Lanczos code. Currently refactoring and tidying up code plus adding documentation.</li>
    <li><s>Refactoring</s> Rewriting Noodle code.
  </ul>
  
  <h2>Recent Posts:</h2>

  <ul class="entries">
    {% for post in site.posts limit:3%}
      {% unless post.draft %}
      <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      <p class="blogdate">{{ post.date | date: "%B %d, %Y" }}</p>
      <div>{{ post.description |truncatehtml }}</div>
      <!--<div>{{ post.content |truncatehtml | truncatewords: 2000 }}</div>-->
      <a href="{{ post.url }}">[read more]</a>
      {% endunless %}
    {% endfor %}
  </ul>

</section>
