<section class="sidebar">
  <a href="/" aria-label="Avatar">
    <!--<img src="{{ site.github.owner_gravatar_url }}?s=150" height="100" width="100" class="avatar" /> -->
    <img src="dummyphoto.jpg" height="150" width="150" class="avatar" />
  </a>

  <section class="name">
    <a href="/">
      <span id="fname">{{ site.name|split:' '|first }}</span>
      <!--<span id="mname">{{ site.name|split:' '|second }}</span>-->
      <span id="lname">{{ site.name|split:' '|last }}</span>
    </a>
  </section>

  <section class="meta">
    <a href="https://scholar.google.com/citations?user=rtiXUQsAAAAJ&hl=en" title="Google Scholar" aria-label="Google Scholar"><i class="ai ai-google-scholar-square ai"></i></a>
    <a href="{{ site.github.owner_url }}" target="_blank" title="Follow me on GitHub" aria-label="Follow me on GitHub"><i class="fa fa-github"></i></a>
    <a href="mailto:raum@vt.edu" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <a href="https://twitter.com/{{ site.twitter }}" title="Follow me on Twitter" aria-label="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
    <a href="/atom.xml" title="Atom RSS feed" aria-label="Atom RSS feed"><i class="fa fa-rss"></i></a>
  </section>

  <section class="sections">
    <ul>
      <li><a href="/about.html">About</a></li>
      <li><a href="/CV.html">C.V.</a></li>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/posts.html">Posts</a></li>
    </ul>
  </section>
</section>
